.signIn-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #767676;
  display: flex;
  align-items: start;
  justify-content: center;
}
  
.signIn-box {
  width: 518px;
  height: 673px;
  margin: auto;
  background: white;
  position: relative;
}
  
.signIn-contents {
  padding: 42px 60px;
  text-align: center;
}
    
.signIn-logo {
  width: 156px;
  height: 42px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
}

.signIn-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signIn-title1 {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.signIn-border1 {
  width: 100%;
  height: 1px;
  background: #949494;
}

.signIn-title2 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.signIn-title3 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 11px;
}

.signIn-title4 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.signIn-email-input {
  width: 400px;
  height: 56px;
  border: none;
  border-bottom: 1px solid #DBDBDB;
  background: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.signIn-btn1 {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  background: #FFD465;
  border: none;
  padding: 15px;
  color: #363A3C;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 40px;
}

.signIn-border2 {
  width: 100%;
  height: 1px;
  background: #949494;
  margin-bottom: 30px;
}

.signIn-title5 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.signIn-title6 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.signIn-email-display {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
  align-self: flex-start; 
}

.signIn-code-input-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signIn-code-input {
  width: 360px;
  height: 56px;
  border: none;
  border-bottom: 1px solid #DBDBDB;
  background: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.signIn-timer {
  color: #919191;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signIn-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  border-radius: 5px;
  background: #FFD465;
  border: none;
  color: #363A3C;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 40px;
  text-decoration: none;
}

.signIn-btn2:hover,
.signIn-btn2:focus,
.signIn-btn2:active {
  text-decoration: none;
}

.signIn-info{
  color: #767676;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}