.cart-choice {
    padding: 8px;
    display: flex;
    gap: 8px;
}

.cart-choice-count {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.cart-choice-bar {
    height: 2px;
    background: #000;
}

.cart-order-detail {
    display: flex;
    justify-content: space-between;
}

.cart-order-price {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
    padding: 0 40px;
}

.cart-item-price {
    text-align: right;
}

.cart-order-bar {
    width: 630px;
    height: 1px;
    background: #DBDBDB;
    margin: 16px 0;
}

.cart-total-price {
    color: #ED1C14;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.cart-order-container {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cart-order-tos {
    color: #919191;
    font-size: 13px;
    font-weight: 400;
}

.cart-order-btn {
    width: 150px;
    height: 56px;
    border: 0px;
    border-radius: 5px;
    background: #FF4248;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
}