.AddressConfirmModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.AddressConfirmModal-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddressConfirmModal-content {
    text-align: center;
}

.AddressConfirmModal-close-button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FFD465;
    border: none;
    border-radius: 5px;
}
