/* DivsComponent.css */

body, html {
    height: 100%;
    margin: 0;
}

.header-div {
    height: 166px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-div {
    position: relative;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}

.logo {
    width: 180px;
    height: 48.247px;
    flex-shrink: 0;
    background-image: url('../../../assets/images/logo.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center center;
    border:none;
    background-color: #FFF;
    cursor: pointer;
}
.search-box-div{
    display: flex;
}
.search-box-svg{
    margin-left: -70px;
    margin-top: 7px;
    cursor: pointer;
}

/* SearchBox */
.search-box {
    /* SearchBox스타일 */
    width: 620px;
    margin-left: 26px;
    margin-right: 26px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 26px;
    border-radius: 20px;
    background: #EDEDED;
    border : none;

    /* 텍스트 폰트 스타일 */
    color: #767676;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: 14px;
}

.icons {
    width: 177px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mypage{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border:none;
    background-color: #FFF;
}

.bucket{
    width: 30px;
    height: 30px;
    position: relative;
    border:none;
    background-color: #FFF;
    cursor: pointer;
}

.bucket-count{
    width: 16px;
    height: 16px;
    position: absolute;
    top: -6px; /* Adjust the top position as needed */
    right: 0px; /* Adjust the right position to place it in the top right corner */
}

.likes{
    width: 30px;
    height: 30px;
    border:none;
    background-color: #FFF;
    cursor: pointer;
}

.alams{
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    background-color: #FFF;
    cursor: pointer;
}

.category-div {
    height: 70px;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    background: #FFF;
    margin: 0 auto;
}

/* DivLayout.css */
.category-div-container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-category {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.category-svg{
    width: 17px;
    height: 14px;
    flex-shrink: 0;
}
.category-text{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
}

.category-text:hover, .cate-customer:hover, .cate-admin:hover{
    font-weight: 700;
}

.sub-category{
    width: 770px;
    display: flex;
    background: white;
    justify-content: space-between;
    margin-top: 20px;
}

.sub-category button{
    width: 110px;
    border:none;
    background-color: #FFF;
    cursor: pointer;
    color: #000;
    font-size: 15px;
    font-weight: 400;
}

.sub-category button:hover{
    font-weight: 700;
}

.sub-sub-category-title{
    width:140px;
    text-align: center;
    cursor: pointer;
}

.user-center {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #919191;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.sub-category-container {
    display: flex;
    background: #FFF;
}

.sub-category-box-container {
    display: flex;
    justify-content: center;
    width: 1280px;
    margin: 0 auto;
    padding: 10px 0;
}

.sub-category-box {
    width: 780px;
    display: flex;
    justify-content: space-between;
}

.sub-category-box-whole {
    background-color: white;
    border-bottom: 1px solid #EDEDED;
    margin-top: 2px;
}

.sub-category-contents-details-button{
    border:none;
    background-color: #FFF;
    cursor: pointer;
    color: #848484;
    width: 120px;
}

.sub-sub-category-contents-details button:hover {
    color: black;
    font-weight: 700;
}

.sub-sub-category-contents-details-style{
    margin-bottom: 9px;
}