.sub-sub-category-container {
    height: 210px;
    display: flex;
    background: #FFF;
    border-bottom: 1px solid #BDBDBD;
    margin: 0 auto;
    min-width: 1280px;
}

.sub-sub-category-contents{
    width: 770px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.sub-sub-category-contents-details{
    width: 110px;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-sub-category-contents-details button{
    border:none;
    background-color: #FFF;
    cursor: pointer;
    color: #848484
}

.sub-sub-category-contents-details button:hover {
    color: black;
}

.sub-sub-category-contents-details button:hover{
    font-weight: 700;
}

.sub-sub-category-contents-details-style{
    margin-bottom: 9px;
}
