.productList-body {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.productList-category {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.productList-title {
    font-size: 32px;
    font-weight: 500;
    margin: 18px auto;
    text-align: center;
}

.productList-title-bar {
    background: #000;
    height: 2px;    
}

.productList-bar {
    background: #DBDBDB;
    height: 2px;    
}

.productList-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    align-items: start;
    margin-top: 17px;
}

.productList-empty {
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
}