.productList-body {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.productList-category {
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 10px;
}

.productList-title {
    font-size: 32px;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}

.productList-title-bar {
    background: #000;
    height: 2px;    
    margin-bottom: -10px;
}

.productList-filter {
    position: fixed;
    width: 1280px;
    z-index: 10; 
    background-color: white; 
}

.productList-bar {
    background: #DBDBDB;
    height: 2px;    
}

.productList-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    align-items: start;
    margin-top: 17px;
    padding-top: 210px;
}

.productList-empty {
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
}