.productList-body {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.productList-category {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.productList-title {
    font-size: 32px;
    font-weight: 500;
    margin: 18px auto;
    text-align: center;
}

.productList-title-bar {
    background: #000;
    height: 2px;    
}

/* .productList-filter-container {
    padding: 0 70px;
}

.productList-price-container {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.productList-label {
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    margin-right: 30px;
}

.productList-font {
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    margin: 0 14px;
}

.productList-filter-price {
    width: 141px;
    height: 28px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #fff;
    padding: 1px 12px;
}

.productList-rating-container {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.productList-radio-btn {
    display: none;
}

.productList-radio-label {
    display: inline-block;
    text-align: center;
    line-height: 28px;
    width: 153px;
    height: 28px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #fff;
    color: #9E9E9E;
    font-size: 15px;
    font-weight: 400;
    margin-right: 37px;
    padding: 1px 6px;
}

.productList-radio-btn:checked + .productList-radio-label {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #E0E0E0;
    color: #fff;
}

.productList-radio-label:hover {
    cursor: pointer;
}

.productList-btn-container {
    text-align: right;
    margin-bottom: 16px;
    padding: 0 70px;
}

.productList-search-btn {
    width: 72px;
    height: 29px;
    border: 0px;
    border-radius: 5px;
    background: #FFD465;
    margin-right: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.productList-clear-btn {
    width: 72px;
    height: 29px;
    border: 0px;
    border-radius: 5px;
    background: #F3F3F3;
    color: #919191;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
} */

.productList-bar {
    background: #DBDBDB;
    height: 2px;    
}

.productList-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    align-items: start;
    margin-top: 17px;
}