button {
  font-family: 'Noto Sans KR', sans-serif;
}

#container1 {
    font-family: 'Noto Sans KR', sans-serif;
	width: 1280px; 
	margin: 0 auto;
}

#container2 {
    font-family: 'Noto Sans KR', sans-serif;
	width: 1060px; 
	margin: 0 auto;
}

.category {
    padding-top: 77px;
    font-size: 16px;
}

.productArea {
    display: flex;
}
.repImg {
    width: 550px;
    height: 550px;
    background-color: #D9D9D9;
}
.subImgArea {
    width: 110px;
    height: 550px;
}
.subImg {
    display: flex; 
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 13px;
    background-color: #D9D9D9;
}

.detailArea {
    width: 577px;
    margin-left: 43px;
}
.title {
    height: 52px;
    width: 577px;
    font-size: 36px;
    font-weight: 500;
}
.subTitle {
    height: 35px;
    margin-top: 8px;
    font-size: 24px;
    font-weight: 400;
}
.rating {
    font-size: 24px;
    height: 35px;
    margin-top: 8px;
    font-weight: 400;
}

.starSolid {
    margin-right: 5px;
    color: gold;
}

.price {
    font-size: 36px;
    height: 52px;
    margin-top: 6px;
    font-weight: 500;
}
.releasePrice {
    font-size: 16px;
    height: 23px;
    margin-top: 7px;
    font-weight: 400;
    color: #767676;
}

.deliveryInfo {
    display: flex;
    font-size: 16px;
    height: 56px;
    margin-top: 12px;
    font-weight: 400;
}

.transportation {
    margin-left: 63px;
    font-weight: 700;
}

.arrivalTime {
    height: 23px;
    margin-top: 11px;
    font-weight: 400;
}

.deliveryFee {
    display: flex;
    font-size: 16px;
    height: 23px;
    margin-top: 20px;
    font-weight: 400;
}

.colorSelect {
    display: flex;
    font-size: 16px;
    height: 30px;
    margin: 35px 0;
    font-weight: 400;
}

#colors {
    margin-left: 92px;
    height: 30px;
    width: 453px;
}

.sizeSelect {
    display: flex;
    font-size: 16px;
    height: 30px;
    margin-top: 15px;
    font-weight: 400;
}

#sizes {
    margin-left: 77px;
    height: 30px;
    width: 453px;
}

.totalCost {
    display: flex;
    margin-top: 18px;
}
.total {
    margin-left: 357px;
    margin-top: 13px;
    font-size: 24px;
    height: 35px;
    font-weight: 400;
}

.cost {
    margin-left: 13px;
    font-size: 36px;
    height: 52px;
    font-weight: 700;
    color : #ED1C14;
}

.purchaseArea {
    display: flex;
    margin-top: 15px;
    margin-left: 702px;
    height: 58px;
}

.wishlistButton {
    width: 55px;
    height: 58px;
    font-size: 24px;
    padding-top: 7px;
    font-weight: 700;
    border: 2px solid #c4c4c4;
    border-right: none;
    border-radius: 0;
    cursor: pointer;
    background-color: #FFFFFF;
}

.cartButton {
    width: 250px;
    height: 58px;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid #c4c4c4;
    border-radius: 0;
    cursor: pointer;
    background-color: #FFFFFF;
}

.purchaseButton {
    width:277px;
    height: 58px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    border-right: none;
    cursor: pointer;
    background-color: #FFD465;
}

.buttonArea {
    display: flex;
    margin-top: 171px;
    height: 29px;
    margin-left: 32px;
}

.buttonArea button {
    font-size: 20px;
    font-weight: 700;
    color: #919191;
    border-radius: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}
.buttonArea button:hover,
.buttonArea button:active {
    color: #000000;
}

.productDetailButton {
    width: 191px;
    height: 29px;
    border: none;
    border-right: 2px solid #cfcfcf;
}

.reviewButton {
    width: 187px;
    height: 29px;
    border: none;
    border-right: 2px solid #cfcfcf;
}

.qnaButton {
    width: 196px;
    height: 29px;
    border: none;
    border-right: 2px solid #cfcfcf;
}

.recommandButton {
    width: 169px;
    height: 29px;
    border: none;
    border-right: 2px solid #cfcfcf;
}

.returnInfoButton {
    width: 262px;
    height: 29px;
    border: none;
}

.productNum {
    height: 63px;
    margin-top: 18px;
    font-size: 20px;
    font-weight: 400;
}

.productDetail {
    height: 46px;
    margin-top: 80px;
    font-size: 32px;
    font-weight: 500;
}
.productDetailImg {
    margin-top: 19px;
}

.productDetailBox {
    height: 1153px;
    background-color: #D9D9D9;
}

.reviewTitle {
    margin-top: 58px;
    font-size: 32px;
    font-weight: 500;
}

.ratingBox {
    display: flex;
    margin-top: 17px;
    height: 132px;
    border: 1px solid #000000;
}

.ratingNum {
    margin-top: 20px;
    margin-left: 397px;
    font-size: 64px;
    font-weight: 500;
}

.ratingStar{ 
    margin-top: 39px;
    margin-left: 33px;
    font-size: 24px;
    font-weight: 400;
    width: 120px;
    height: 66px;
    text-align: center;
}

.reviewAnnounce {
    margin-top: 8px;
    margin-left: 176px;
    font-size: 16px;
    font-weight: 400;
    width: 708px;
    height: 23px;
    text-align: center;
    color: #767676;
}

.reviewCategory {
    margin-top: 35px;
    font-size: 15px;
    font-weight: 700;
}

.review {
    margin-top: 14px;
    margin-left: 16px;
    font-size: 15px;
    font-weight: 400;
}
.reviewContents {
    margin-top: 30px;
}

.reviewImg {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
}

.qnaTitle {
    margin-top: 57px;
    font-size: 32px;
    font-weight: 500;
}

.qnaAnnounce {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #919191;
}

.qnaCategory {
    width: 1060px;
    display: flex;
    margin-top: 32px;
    height: 29px;
    color: #919191;
}

.qnaCategory button {
    font-size: 15px;
    font-weight: 700;
    color: #919191;
    border-radius: 0;
    background-color: #FFFFFF;
    cursor: pointer;
}
.qnaCategory button:hover,
.qnaCategory button:active {
    color: #000000;
}

.qnaAll {
    height: 22px;
    border: none;
}

.qnaReplyDone {
    height: 22px;
    border: none;

}

.qnaReplyWaiting {
    height: 22px;
    border: none;
}

.qnaEnroll {
    display: flex; 
    align-items: center;
    margin-left: 655px;
    height: 22px;
    border: none;
}

.qnaAttributes {
    margin-top: 15px;
    border-top: 1px solid #b3b3b3;
    display: flex;
    height: 56px;
    background-color: #FAFAFA;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
}

.qnaAttributesTitle {
    margin-top: 18px;
    margin-left: 0;
}

.qnaAttributesDate {
    margin-top: 18px;
    margin-left: 374px;
}

.qnaAttributesState {
    margin-top: 18px;
    margin-left: 153px;
}

.question {
    height: 58px;
    border-bottom: 2px solid #c4c4c4;
    display: flex; 
    align-items: center;
}

.questionTitle {
    border: none;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.questionDate {
    margin-left: 230px;
    font-size: 14px;
    font-weight: 400;
}

.questionDate2 {
    margin-left: 191px;
    font-size: 14px;
    font-weight: 400;
}

.questionState {
    margin-left: 122px;
    font-size: 14px;
    font-weight: 400;
    color: #FF0000;
}

.questionState2 {
    margin-left: 122px;
    font-size: 14px;
    font-weight: 400;
    color: #6F97FF;
}

.questionWrite {
    height: 324px;
    border-bottom: 1px solid #c4c4c4;
}

.questionWriteTitle {
    margin-top: 26px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 5px;
}

.questionTitleInput {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 38px;
    padding-left: 25px;
    width: 950px;
    height: 36px;
    font-size: 15px;
    border: 1px solid #C6C6C6;
    border-radius: 0;
}

.questionWriteContents {
    display: flex;
    margin-top: 26px;
    height: 110px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 5px;
}

.questionContentsleft {
    width: 28px;
    height: 22px;
    padding-top: 5px;
}

.questionContentsInput {
    margin-left: 37px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    padding-left: 25px;
    padding-top: 5px;
    width: 950px;
    height: 110px;
    border: 1px solid #C6C6C6;
    border-radius: 0;
}

.secretState {
    display: flex;
    margin-top: 25px;
    height: 26px;
    font-size: 15px;
    font-weight: 400;
}

.secretArticle {
    margin-left: 840px;
    font-weight: 500;
}
.public {
    display: inline-block;
    position: relative;
    padding-left: 54px;
    cursor: pointer;
    font-size: 15px;
}

.public input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.checkmark {
    position: absolute;
    top: -1px;
    left: 15px;
    height: 26px; /* 체크박스 크기 조절 */
    width: 26px; /* 체크박스 크기 조절 */
    background-color: #ffffff;
    border: 1px solid #9c9c9c;
    border-radius: 4px;
  }

.public input:checked + .checkmark {
    background-color: #FFD465; /* 체크된 경우 배경색 변경 */
    border: 0; /* 체크된 경우 테두리 색 변경 */
  }
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.public input:checked + .checkmark:after {
    display: block;
  }

.public .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.private {
    display: inline-block;
    position: relative;
    padding-left: 54px;
    cursor: pointer;
    font-size: 15px;
}

.private input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }


.private input:checked + .checkmark {
    background-color: #FFD465; /* 체크된 경우 배경색 변경 */
    border: 0; /* 체크된 경우 테두리 색 변경 */
  }


.private input:checked + .checkmark:after {
    display: block;
  }

.private .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.enrollButton {
    margin-left: 963px;
    margin-top: 43px;
    border: none;
    border-radius: 5px;
    width: 97px;
    height: 38px;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    background-color: #FFD465;
    cursor: pointer;
  }

.recommandTitle {
    margin-top: 57px;
    width: 258px;
    height: 46px;
    font-size: 32px;
    font-weight: 500;
  }

.recommandArea {
    display: flex;
    margin-top: 22px;
    height: 357px;
  }

.recommandElement {
    width: 230px;
    margin-left: 45px;
  }

.recommandElementImg {
    width: 230px;
    height: 230px;
    background-color: #D9D9D9;
  }

.recomandElementTitle {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
  }

.recomandElementSubTitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }

.recomandElementPrice {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
  }

.recomandElementStar {
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
  }

.deliveryTitle {
    margin-top: 49px;
    width: 125px;
    height: 46px;
    font-size: 32px;
    font-weight: 500;
  }

.deliveryContents {
    position: relative;
    display: flex;
    height: 115px;
    border-bottom: 1px solid #919191;
  }

.deliveryIcon {
    margin-top: 12px;
    margin-left: 19px;
    width: 86px;
    height: 86px;
    border-radius: 43px;
    background-color: #D9D9D9;
  }

.deliveryIconImg {
    margin: 14px;
    width: 58px;
    height: 58px;
  }

.deliveryExplain {
    margin-top: 31px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #878D91;
    line-height: 1.7;
  }

.deliveryCost {
    margin-top: 44px;
    position: absolute; /* 또는 absolute, relative 중 하나를 선택할 수 있습니다. */
    right: 0;
    font-size: 16px;
    font-weight: 500;
  }

.returnTitle {
    margin-top: 57px;
    width: 228px;
    height: 46px;
    font-size: 32px;
    font-weight: 500;
  }

.returnApplyPeriod {
    display: flex;
    position: relative;
    height: 62px;
    border-bottom: 1px solid #919191;
    font-size: 16px;
}

.returnApplyPeriodTitle {
    margin-top: 20px;
    font-weight: 700;
}

.returnApplyPeriodContents {
    position: absolute;
    margin-top: 20px;
    margin-left: 220px;
    font-weight: 500;
    color: #363A3C;
}

.returnApplyCost {
    display: flex;
    position: relative;
    height: 96px;
    border-bottom: 1px solid #919191;
    font-size: 16px;
}

.returnApplyCostTitle {
    margin-top: 20px;
    font-weight: 700;
}

.returnApplyCostContents {
    position: absolute;
    margin-top: 16px;
    margin-left: 220px;
    font-weight: 500;
    color: #363A3C;
    line-height: 2;
}

.returnInfo {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
    color: #505050;
}

.inquiryButton {
    border: none;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
    color: #505050;
    padding: 0px;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}