/* button{
	border:none;
  background-color: #ffffff;
  cursor: pointer;
} */

.CustomerCenterNotice{
  width: 1280px;
  margin: 0 auto;
  height: 1000px;
}

.CustomerCenterNotice-body{
  /*margin-top: 210px;*/
}

.CustomerCenterName{
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.notice-bar {
  width: 1280px;
  height: 5px;
  background-color: #000000;
}

.notice-submenu{
  display: flex;
  margin-top: 8px;
}

.notice-submenu-content-left{
  color: #A9AFB3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 20px;
  border:none;
  background-color: #ffffff;
  cursor: pointer;
}
.notice-submenu-content-mid{
  color: #A9AFB3;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  margin-right: 20px;
  border:none;
  background-color: #ffffff;
  cursor: pointer;
}
.notice-submenu-content-right{
  color: #A9AFB3;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  border:none;
  background-color: #ffffff;
  cursor: pointer;
}

.submenu-line{
  width: 1px;
  height: 16px;
  background: #DBDBDB;
}

.Center-notice-body{
  margin-top: 63px;
  display: flex;
  align-items: flex-end;
}

.Center-notice{
  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Operating-time{
  color: #919191;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
  margin-left: 15px;
  
}

.notice-main-body{
  margin-top: 60px;
}

.notice-main{
  width: 1280px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFD465;
}

.notice-main-text{
  width: 179px;
  height: 40px;
  flex-shrink: 0;
  color: #363A3C;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 550px;
}

.notice-main-menu{
  width: 1280px;
  height: 50px;
}

.notice-main-menu-display{
  display: flex;
  margin-top: 42px;
  margin-bottom: 42px;

}

.notice-main-menu-line{
  width: 1275px;
  height: 1px;
  background: linear-gradient(0deg, #919191 0%, #919191 100%), #919191;
  
}

.notice-main-menu-text{
  width: 906px;
  height: 34px;
  flex-shrink: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.notice-main-menu-date{
  width: 135px;
  height: 34px;
  flex-shrink: 0;
  color: #919191;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 180px;
}

.notice-main-menu-button{
  margin-left: 20px;
}

.notice-main-menu-expanded-content{
  width: 1250px;
  height: 200px;
  flex-shrink: 0;
  font-size: 24px;
  background: #D9D9D9;
  padding-top: 30px;
  padding-left: 30px;
}

.notice-main-menu-expanded-content li {
  margin-bottom: 10px; /* 원하는 간격으로 조절합니다. */
}