.productListItem-container {
    width: 230px;
    margin: 16px;
    cursor: pointer;
}

.productListItem-img {
    width: 230px;
    height: 230px;
    background: #D9D9D9;
}

.productListItem-img > img {
    width: 230px;
    height: 230px;
}

.productListItem-info {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.productListItem-brand {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.productListItem-name {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.productListItem-price-info {
    display: flex;
    align-items: center;
}

.productListItem-price {
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.productListItem-discount{
    color: #FF4248;
    margin-left: 10px;
}
.productListItem-rating {
    display: flex;
    gap: 5px;
}

.productListItem-star-lg {
    color: #FFD465;
}

.productListItem-review {
    display: flex;
    align-items: center;
}

.productListItem-reviews {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}