.productList-dropdown-container {
    text-align: right;
}

.productList-dropdown {
    font-size: 16px;
    color: #505050;
    font-weight: 700;
    border: 0;
    margin: 44px 8px 6px 0;
    cursor: pointer;
}