.filter-container {
    padding: 0 70px;
}

.filter-price-container {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.filter-label {
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    margin-right: 30px;
}

.filter-font {
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    margin: 0 14px;
}

.filter-price {
    width: 141px;
    height: 28px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #fff;
    padding: 1px 12px;
}

.filter-rating-container {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.filter-radio-btn {
    display: none;
}

.filter-radio-label {
    display: inline-block;
    text-align: center;
    line-height: 28px;
    width: 153px;
    height: 28px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #fff;
    color: #9E9E9E;
    font-size: 15px;
    font-weight: 400;
    margin-right: 37px;
    padding: 1px 6px;
}

.filter-radio-btn:checked + .filter-radio-label {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #E0E0E0;
    color: #fff;
}

.filter-radio-label:hover {
    cursor: pointer;
}

.filter-star {
    display: inline;
    vertical-align: middle;
    font-size: 16px;
}

.filter-btn-container {
    text-align: right;
    margin-bottom: 16px;
    padding: 0 70px;
}

.filter-search-btn {
    width: 72px;
    height: 29px;
    border: 0px;
    border-radius: 5px;
    background: #FFD465;
    margin-right: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.filter-clear-btn {
    width: 72px;
    height: 29px;
    border: 0px;
    border-radius: 5px;
    background: #F3F3F3;
    color: #919191;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}